<?xml version="1.0"?>
<configuration>
   <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="RewriteRequestsToPublic" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
