@font-face {
  font-family: '1529-Champ-Fleury';
  src: url('../fonts/1529-Champ-Fleury.eot');
  src: url('../fonts/1529-Champ-Fleury.eot#iefix') format('embedded-opentype'),
       url('../fonts/1529-Champ-Fleury.woff') format('woff'),
       url('../fonts/1529-Champ-Fleury.ttf') format('truetype'),
       url('../fonts/1529-Champ-Fleury.svg#1529-Champ-Fleury') format('svg');
  font-weight: normal;
  font-style: normal;
}
