<!-- start widget -->
<div class="widget">
	<h4 id="title" class="title">GMT+2 Time</h4>
	<div class="content">
		<h4 id="date"></h4>
		<h4 id="time"></h4>
	</div>
	<script>
		var today = new Date();
		var date = today.toLocaleString('en-AU', { day: '2-digit', month: 'long', year: 'numeric', timeZone: 'Europe/Berlin' });
		var time = today.toLocaleString('en-EN', {hour: '2-digit', minute: '2-digit',  hour12: false, timeZone: 'Europe/Berlin' });
		document.getElementById("date").innerHTML = date;
		document.getElementById("time").innerHTML = time;
        	if(today.getMonth() >= 10 || (today.getMonth() >= 9 && today.getDate() >= 27)){
            		document.getElementById("title").innerHTML = "GMT+1 Time";
        	}
	</script>
</div>
<!-- end widget -->
