<!-- start widget -->
<div class="widget">
	<h4 id="title" class="title">GMT+2 Time</h4>
	<div class="content">
		<h4 id="date"></h4>
		<h4 id="time"></h4>
	</div>
	<script>
		var today = new Date();
		var date = today.getDate()+' '+today.toLocaleString('default', { month: 'long' })+' '+today.getFullYear();
		var time = today.getHours() + ":" + today.getMinutes();
		document.getElementById("date").innerHTML = date;
		document.getElementById("time").innerHTML = time;
        if(date.getMonth() >= 9 && date.getDate() >= 27){
            document.getElementById("title").innerHTML = "GMT+1 Time";
        }
	</script>
</div>
<!-- end widget -->
