<!-- start widget -->
<div class="widget">
	<h4 class="title">Text Widget</h4>
	<div class="content">
		<h1 id="dateTime"></h1>
	</div>
	<script>
		var today = new Date();
		var date = today.getDate()+' '+today.toLocaleString('default', { month: 'long' })+' '+today.getFullYear();
		var time = today.getHours() + ":" + today.getMinutes();
		var dateTime = time + date;
		document.getElementById("dateTime").innerHTML = dateTime;
	</script>
</div>
<!-- end widget -->
